<div class="title">
    <span>{{index}}. {{record.title}} {{IdentefierDisplay()}} </span>
</div>
<div *ngIf="record.available else notAvaliableRecord">
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="available-icon">done_outline</mat-icon>
                <span style="padding-top: 4px;">Available</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="jci-header">
            <div class="jci-title"> Journal Citation Indicator </div>
            <div class="jci-year"> {{record.year}} </div>
            <div class="jci-number"> {{record.jci}} </div>
        </div>
        <div class="table">
            <div class="row table-header">
                <div class="col-1"> JCR Catergory </div>
                <div class="col-2"> Rank </div>
                <div class="col-3"> Quartile </div>
            </div>
            <div class="row category-data" *ngFor="let data of record.categoryDataArray">
                <div class="col-1"> {{ data.category }} </div>
                <div class="col-2"> {{ data.rank }} </div>
                <div class="col-3"> {{ data.quartile }} </div>
            </div>
        </div>
    </mat-expansion-panel>
</div>

<ng-template #notAvaliableRecord>
    <div class="not-avaliable">
        <span>No measure found.</span>
    </div>
</ng-template>
