.title {
    margin: 5px;
}

mat-expansion-panel-header {
    height: 40px;
    .available-icon {
        margin-right: 10px;
        color: green;
    }   
}

.jci-header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35px 20px;
    grid-template-areas:
        "header header"
        "title-1 title-2"
        "content-1 content-2";

    margin-bottom: 30px;
    font-size: larger;
    
    .jci-title {
        grid-area: header;
        font-weight: bold;
    }
    .jci-year {
        grid-area: title-1;
    }
    .jci-number {
        grid-area: content-1;
        font-weight: bolder;
    }
}

.row {
    display: grid;
    grid-template-columns: 50% 30% 20%;
    padding: 5px;
}

.table-header {
    background-color: whitesmoke;
    font-weight: bold;
}

.not-avaliable {
    font-weight: 100;
    font-size: small;
    margin-left: 20px;
}
