<div *ngIf="isFeatureEnable()" >
  <mat-slide-toggle translate [checked]="isSlideChecked" (change)="toggleChanges($event)">Share data with Web of Science</mat-slide-toggle>
  <mat-icon translate matTooltip="By choosing to turn this feature on, you are giving your consent to share your electronic holdings with Web of Science to have an Alma Report in InCites" aria-hidden="false" aria-label="Example home icon" fontIcon=in class="uxf-info-circle"></mat-icon>
  <br>
  <mat-divider></mat-divider>
  <br>
</div>
<div *ngIf="records.length>0 else nobibs">
  <p translate>JCR metrics available for the displayed records in Web of Science:</p>
  <mat-list>
    <div *ngFor="let record of records; index as i">
      <category-data-display [record]="record" [index]="i+1"></category-data-display>
    </div>
  </mat-list>
</div>
<ng-template #nobibs>  
  <p translate>To check for Journal Citation Reports availability, navigate to bibliographic records.</p>    
</ng-template>
<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate" diameter="50">
  </mat-progress-spinner>
</div>

