category-data-display {
  width: 100%;
  margin-bottom: 20px;
}

/*
.entities-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

textarea {
  padding: 2px;
  border-width: 1px;
  $width: calc(100% - 6px);
  width: $width;
  max-width: $width;
  height: 150px;
  font-family: monospace;
  display: block;
}

textarea,
section,
.mat-card {
  margin-bottom: 20px;
}

pre {
  overflow: auto;
  max-height: 200px;
  white-space: pre-wrap;
  word-break: break-all;
}

pre,
textarea {
  font-size: 0.9em;
}
// green {
//   color: green;
// }

// .with-icon {
//   display: flex;
//   align-items: center;
// }

// span.not-available {
//   font-weight: 100;
//   font-size: small;
// }

// .loading-shade {
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background: rgba(0, 0, 0, 0.15);
//   z-index: 1;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }


*/