<div *ngIf="almaBibs.length>0 else nobibs">
  <p translate>Main.Intro</p>
  <mat-list>
    <mat-list-item *ngFor="let bib of almaBibs; index as i">
      <!-- <h3 matLine>{{i+1}}. {{bib.description || bib.mmsId}} {{(bib.issn)}}</h3> -->
    </mat-list-item>
  </mat-list>
</div>
<ng-template #nobibs>      
  <p translate>Main.NoRecords</p>
</ng-template>
<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner 
    mode="indeterminate"
    diameter="50"
    >
  </mat-progress-spinner>
</div>

